In [1]:
import pymongo
import pandas as pd
import numpy as np
import datetime

In [2]:
# Stupid but smart
def getCorrespondingStartDate(date):
    month = date.month
    year = date.year
    if month - 10 >= 0: 
        return datetime.date(year, 10, 1)
    if month - 7 >= 0:
        return datetime.date(year, 7, 1)
    if month - 4 >= 0:
        return datetime.date(year, 4, 1)
    return datetime.date(year, 1, 1)

In [25]:
# here's my plan. i iterate through features separately. so i can sort by $exists = True.
# helps avoid those annoying key errors, and the mathematical badness of setting nan = 0
# when you're trying to calculate an average. 
# it's NOT efficient, but we're only doing it once. right??
def getDataAnomQuarterly(start_date, end_date):
    client = pymongo.MongoClient('localhost', 27017, maxPoolSize=100)
    db = client['Stocks']
    stocks = ["AAPL US Equity", "WWW US Equity"]
    curr_stock = db["AAPL US Equity"]

    fields = ['LAST_PRICE', 'EBITDA', 'HISTORICAL_MARKET_CAP']
    
    date_index = pd.date_range(getCorrespondingStartDate(start_date),
                        getCorrespondingStartDate(end_date), 
                       freq='QS')
    
    s_len = len(stocks)
    f_len = len(fields)
    
    a = np.empty((s_len, f_len))
    a[:]= np.nan
    
    df = pd.DataFrame({"Array": [a]}, index=date_index)

    
    for i in range(s_len):
        
        curr_date = None
        curr_total = 0
        curr_count = 0
    
        for j in range(f_len): 
            field = fields[j]
            
            # TO DO sort by date too!!!!
            for thing in curr_stock.find({field:{'$exists': True}}).sort([('Date', 1)]):
                date = thing['Date']
                corr_date = getCorrespondingStartDate(date)

                if curr_date is None:
                    curr_count += 1
                    curr_date = corr_date
                    curr_total = thing[field]
                elif (corr_date == curr_date):
                    curr_count += 1
                    curr_total += thing[field]   
                # If the dates don't match, we save the info before moving on. 
                else:
                    arr = df.loc[curr_date]

                    arr[0][i][j] = curr_total/curr_count
                    
                    df.loc[curr_date] = arr
                    
                    curr_date = corr_date
                    curr_count = 1
                    curr_total = thing[field]

    return df

In [26]:
start_date = datetime.date(1990, 1, 1)
end_date = datetime.date(2019, 1, 1)

dataDict = getDataAnomQuarterly(start_date, end_date)

0
0
Array    [[1.2887, nan, nan], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
Array    [[1.2887, nan, nan], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
0
0
Array    [[1.4925666666666668, nan, nan], [nan, nan, nan]]
Name: 1990-04-01 00:00:00, dtype: object
Array    [[1.4925666666666668, nan, nan], [nan, nan, nan]]
Name: 1990-04-01 00:00:00, dtype: object
0
0
Array    [[1.2857, nan, nan], [nan, nan, nan]]
Name: 1990-07-01 00:00:00, dtype: object
Array    [[1.2857, nan, nan], [nan, nan, nan]]
Name: 1990-07-01 00:00:00, dtype: object
0
0
Array    [[1.3154666666666668, nan, nan], [nan, nan, nan]]
Name: 1990-10-01 00:00:00, dtype: object
Array    [[1.3154666666666668, nan, nan], [nan, nan, nan]]
Name: 1990-10-01 00:00:00, dtype: object
0
0
Array    [[2.1517666666666666, nan, nan], [nan, nan, nan]]
Name: 1991-01-01 00:00:00, dtype: object
Array    [[2.1517666666666666, nan, nan], [nan, nan, nan]]
Name: 1991-01-01 00:00:00, dtype: object
0
0
Array    [[1.7083333333333333, nan, nan], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
Array    [[1.7083333333333333, nan, nan], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
0
0
Array    [[1.7708666666666666, nan, nan], [nan, nan, nan]]
Name: 1991-07-01 00:00:00, dtype: object
Array    [[1.7708666666666666, nan, nan], [nan, nan, nan]]
Name: 1991-07-01 00:00:00, dtype: object
0
0
Array    [[1.8899, nan, nan], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
Array    [[1.8899, nan, nan], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
0
0
Array    [[2.267866666666667, nan, nan], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
Array    [[2.267866666666667, nan, nan], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
0
0
Array    [[1.9985, nan, nan], [nan, nan, nan]]
Name: 1992-04-01 00:00:00, dtype: object
Array    [[1.9985, nan, nan], [nan, nan, nan]]
Name: 1992-04-01 00:00:00, dtype: object
0
0
Array    [[1.6413666666666666, nan, nan], [nan, nan, nan]]
Name: 1992-07-01 00:00:00, dtype: object
Array    [[1.6413666666666666, nan, nan], [nan, nan, nan]]
Name: 1992-07-01 00:00:00, dtype: object
0
0
Array    [[2.0208333333333335, nan, nan], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
Array    [[2.0208333333333335, nan, nan], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
0
0
Array    [[1.9524, nan, nan], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
Array    [[1.9524, nan, nan], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
0
0
Array    [[1.7544666666666666, nan, nan], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
Array    [[1.7544666666666666, nan, nan], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
0
0
Array    [[0.9241, nan, nan], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
Array    [[0.9241, nan, nan], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
0
0
Array    [[1.0892666666666668, nan, nan], [nan, nan, nan]]
Name: 1993-10-01 00:00:00, dtype: object
Array    [[1.0892666666666668, nan, nan], [nan, nan, nan]]
Name: 1993-10-01 00:00:00, dtype: object
0
0
Array    [[1.2202333333333335, nan, nan], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
Array    [[1.2202333333333335, nan, nan], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
0
0
Array    [[1.0208, nan, nan], [nan, nan, nan]]
Name: 1994-04-01 00:00:00, dtype: object
Array    [[1.0208, nan, nan], [nan, nan, nan]]
Name: 1994-04-01 00:00:00, dtype: object
0
0
Array    [[1.2328666666666666, nan, nan], [nan, nan, nan]]
Name: 1994-07-01 00:00:00, dtype: object
Array    [[1.2328666666666666, nan, nan], [nan, nan, nan]]
Name: 1994-07-01 00:00:00, dtype: object
0
0
Array    [[1.4188999999999998, nan, nan], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
Array    [[1.4188999999999998, nan, nan], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
0
0
Array    [[1.3705333333333334, nan, nan], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
Array    [[1.3705333333333334, nan, nan], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
0
0
Array    [[1.5030000000000001, nan, nan], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
Array    [[1.5030000000000001, nan, nan], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
0
0
Array    [[1.4910666666666668, nan, nan], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
Array    [[1.4910666666666668, nan, nan], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
0
0
Array    [[1.2656333333333334, nan, nan], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
Array    [[1.2656333333333334, nan, nan], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
0
0
Array    [[0.9486333333333334, nan, nan], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
Array    [[0.9486333333333334, nan, nan], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
0
0
Array    [[0.8511666666666667, nan, nan], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
Array    [[0.8511666666666667, nan, nan], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
0
0
Array    [[0.8147333333333333, nan, nan], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
Array    [[0.8147333333333333, nan, nan], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
0
0
Array    [[0.8095, nan, nan], [nan, nan, nan]]
Name: 1996-10-01 00:00:00, dtype: object
Array    [[0.8095, nan, nan], [nan, nan, nan]]
Name: 1996-10-01 00:00:00, dtype: object
0
0
Array    [[0.6086666666666667, nan, nan], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
Array    [[0.6086666666666667, nan, nan], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
0
0
Array    [[0.5699333333333333, nan, nan], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
Array    [[0.5699333333333333, nan, nan], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
0
0
Array    [[0.7254666666666667, nan, nan], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
Array    [[0.7254666666666667, nan, nan], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
0
0
Array    [[0.5703333333333332, nan, nan], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
Array    [[0.5703333333333332, nan, nan], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
0
0
Array    [[0.8266333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
Array    [[0.8266333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
0
0
Array    [[0.9843999999999999, nan, nan], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
Array    [[0.9843999999999999, nan, nan], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
0
0
Array    [[1.2373333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
Array    [[1.2373333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
0
0
Array    [[1.3095333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
Array    [[1.3095333333333332, nan, nan], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
0
0
Array    [[1.3326, nan, nan], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
Array    [[1.3326, nan, nan], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
0
0
Array    [[1.6235333333333335, nan, nan], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
Array    [[1.6235333333333335, nan, nan], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
0
0
Array    [[2.193466666666667, nan, nan], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
Array    [[2.193466666666667, nan, nan], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
0
0
Array    [[3.343, nan, nan], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
Array    [[3.343, nan, nan], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
0
0
Array    [[4.2165333333333335, nan, nan], [nan, nan, nan]]
Name: 2000-01-01 00:00:00, dtype: object
Array    [[4.2165333333333335, nan, nan], [nan, nan, nan]]
Name: 2000-01-01 00:00:00, dtype: object
0
0
Array    [[3.723966666666666, nan, nan], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
Array    [[3.723966666666666, nan, nan], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
0
0
Array    [[3.2738333333333336, nan, nan], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
Array    [[3.2738333333333336, nan, nan], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
0
0
Array    [[1.2127999999999999, nan, nan], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
Array    [[1.2127999999999999, nan, nan], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
0
0
Array    [[1.4748666666666665, nan, nan], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
Array    [[1.4748666666666665, nan, nan], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
0
0
Array    [[1.6354666666666668, nan, nan], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
Array    [[1.6354666666666668, nan, nan], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
0
0
Array    [[1.2583333333333335, nan, nan], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
Array    [[1.2583333333333335, nan, nan], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
0
0
Array    [[1.4466666666666665, nan, nan], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
Array    [[1.4466666666666665, nan, nan], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
0
0
Array    [[1.6688, nan, nan], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
Array    [[1.6688, nan, nan], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
0
0
Array    [[1.5545333333333333, nan, nan], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
Array    [[1.5545333333333333, nan, nan], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
0
0
Array    [[1.0597666666666667, nan, nan], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
Array    [[1.0597666666666667, nan, nan], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
0
0
Array    [[1.0928666666666667, nan, nan], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
Array    [[1.0928666666666667, nan, nan], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
0
0
Array    [[1.0359333333333334, nan, nan], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
Array    [[1.0359333333333334, nan, nan], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
0
0
Array    [[1.2197333333333333, nan, nan], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
Array    [[1.2197333333333333, nan, nan], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
0
0
Array    [[1.5335666666666665, nan, nan], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
Array    [[1.5335666666666665, nan, nan], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
0
0
Array    [[1.5516666666666667, nan, nan], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
Array    [[1.5516666666666667, nan, nan], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
0
0
Array    [[1.7504666666666668, nan, nan], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
Array    [[1.7504666666666668, nan, nan], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
0
0
Array    [[2.0566666666666666, nan, nan], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
Array    [[2.0566666666666666, nan, nan], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
0
0
Array    [[2.5138333333333334, nan, nan], [nan, nan, nan]]
Name: 2004-07-01 00:00:00, dtype: object
Array    [[2.5138333333333334, nan, nan], [nan, nan, nan]]
Name: 2004-07-01 00:00:00, dtype: object
0
0
Array    [[4.3774, nan, nan], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
Array    [[4.3774, nan, nan], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
0
0
Array    [[5.951466666666666, nan, nan], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
Array    [[5.951466666666666, nan, nan], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
0
0
Array    [[5.3633, nan, nan], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
Array    [[5.3633, nan, nan], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
0
0
Array    [[6.8167, nan, nan], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
Array    [[6.8167, nan, nan], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
0
0
Array    [[9.395233333333334, nan, nan], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
Array    [[9.395233333333334, nan, nan], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
0
0
Array    [[9.8438, nan, nan], [nan, nan, nan]]
Name: 2006-01-01 00:00:00, dtype: object
Array    [[9.8438, nan, nan], [nan, nan, nan]]
Name: 2006-01-01 00:00:00, dtype: object
0
0
Array    [[8.925233333333333, nan, nan], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
Array    [[8.925233333333333, nan, nan], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
0
0
Array    [[10.132866666666667, nan, nan], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
Array    [[10.132866666666667, nan, nan], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
0
0
Array    [[12.265733333333332, nan, nan], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
Array    [[12.265733333333332, nan, nan], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
0
0
Array    [[12.5357, nan, nan], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
Array    [[12.5357, nan, nan], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
0
0
Array    [[16.334799999999998, nan, nan], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
Array    [[16.334799999999998, nan, nan], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
0
0
Array    [[20.1767, nan, nan], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
Array    [[20.1767, nan, nan], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
0
0
Array    [[27.154733333333336, nan, nan], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
Array    [[27.154733333333336, nan, nan], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
0
0
Array    [[19.232366666666667, nan, nan], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
Array    [[19.232366666666667, nan, nan], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
0
0
Array    [[25.244766666666667, nan, nan], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
Array    [[25.244766666666667, nan, nan], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
0
0
Array    [[21.054266666666667, nan, nan], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
Array    [[21.054266666666667, nan, nan], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
0
0
Array    [[13.600499999999998, nan, nan], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
Array    [[13.600499999999998, nan, nan], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
0
0
Array    [[13.550466666666665, nan, nan], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
Array    [[13.550466666666665, nan, nan], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
0
0
Array    [[19.2414, nan, nan], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
Array    [[19.2414, nan, nan], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
0
0
Array    [[24.616666666666664, nan, nan], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
Array    [[24.616666666666664, nan, nan], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
0
0
Array    [[28.530600000000003, nan, nan], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
Array    [[28.530600000000003, nan, nan], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
0
0
Array    [[30.080133333333333, nan, nan], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
Array    [[30.080133333333333, nan, nan], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
0
0
Array    [[36.64286666666666, nan, nan], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
Array    [[36.64286666666666, nan, nan], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
0
0
Array    [[37.3381, nan, nan], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
Array    [[37.3381, nan, nan], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
0
0
Array    [[44.50903333333334, nan, nan], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
Array    [[44.50903333333334, nan, nan], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
0
0
Array    [[49.57323333333333, nan, nan], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
Array    [[49.57323333333333, nan, nan], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
0
0
Array    [[49.220499999999994, nan, nan], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
Array    [[49.220499999999994, nan, nan], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
0
0
Array    [[55.07763333333333, nan, nan], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
Array    [[55.07763333333333, nan, nan], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
0
0
Array    [[56.760933333333334, nan, nan], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
Array    [[56.760933333333334, nan, nan], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
0
0
Array    [[76.1176, nan, nan], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
Array    [[76.1176, nan, nan], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
0
0
Array    [[83.12906666666667, nan, nan], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
Array    [[83.12906666666667, nan, nan], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
0
0
Array    [[92.5288, nan, nan], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
Array    [[92.5288, nan, nan], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
0
0
Array    [[81.56060000000001, nan, nan], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
Array    [[81.56060000000001, nan, nan], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
0
0
Array    [[63.78806666666666, nan, nan], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
Array    [[63.78806666666666, nan, nan], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
0
0
Array    [[61.383100000000006, nan, nan], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
Array    [[61.383100000000006, nan, nan], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
0
0
Array    [[67.45216666666666, nan, nan], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
Array    [[67.45216666666666, nan, nan], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
0
0
Array    [[78.08533333333334, nan, nan], [nan, nan, nan]]
Name: 2013-10-01 00:00:00, dtype: object
Array    [[78.08533333333334, nan, nan], [nan, nan, nan]]

Name: 2013-10-01 00:00:00, dtype: object
0
0
Array    [[74.45616666666666, nan, nan], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
Array    [[74.45616666666666, nan, nan], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
0
0
Array    [[89.21906666666666, nan, nan], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
Array    [[89.21906666666666, nan, nan], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
0
0
Array    [[99.61666666666667, nan, nan], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
Array    [[99.61666666666667, nan, nan], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
0
0
Array    [[112.43666666666667, nan, nan], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
Array    [[112.43666666666667, nan, nan], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
0
0
Array    [[123.35000000000001, nan, nan], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
Array    [[123.35000000000001, nan, nan], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
0
0
Array    [[126.95166666666667, nan, nan], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
Array    [[126.95166666666667, nan, nan], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
0
0
Array    [[114.78666666666668, nan, nan], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
Array    [[114.78666666666668, nan, nan], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
0
0
Array    [[114.35333333333334, nan, nan], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
Array    [[114.35333333333334, nan, nan], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
0
0
Array    [[101.00666666666666, nan, nan], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
Array    [[101.00666666666666, nan, nan], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
0
0
Array    [[96.39999999999999, nan, nan], [nan, nan, nan]]
Name: 2016-04-01 00:00:00, dtype: object
Array    [[96.39999999999999, nan, nan], [nan, nan, nan]]
Name: 2016-04-01 00:00:00, dtype: object
0
0
Array    [[107.78666666666668, nan, nan], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
Array    [[107.78666666666668, nan, nan], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
0
0
Array    [[113.29333333333334, nan, nan], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
Array    [[113.29333333333334, nan, nan], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
0
0
Array    [[134.0, nan, nan], [nan, nan, nan]]
Name: 2017-01-01 00:00:00, dtype: object
Array    [[134.0, nan, nan], [nan, nan, nan]]
Name: 2017-01-01 00:00:00, dtype: object
0
0
Array    [[146.80999999999997, nan, nan], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
Array    [[146.80999999999997, nan, nan], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
0
0
Array    [[155.61666666666667, nan, nan], [nan, nan, nan]]
Name: 2017-07-01 00:00:00, dtype: object
Array    [[155.61666666666667, nan, nan], [nan, nan, nan]]
Name: 2017-07-01 00:00:00, dtype: object
0
0
Array    [[170.04, nan, nan], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
Array    [[170.04, nan, nan], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
0
0
Array    [[171.11, nan, nan], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
Array    [[171.11, nan, nan], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
0
0
Array    [[179.08, nan, nan], [nan, nan, nan]]
Name: 2018-04-01 00:00:00, dtype: object
Array    [[179.08, nan, nan], [nan, nan, nan]]
Name: 2018-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 214.5533333333333, nan], [nan, nan, ...
Name: 2018-07-01 00:00:00, dtype: object
Array    [[179.08, 214.5533333333333, nan], [nan, nan, ...
Name: 2018-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 243.463, nan], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
Array    [[179.08, 243.463, nan], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 232.09900000000002, nan], [nan, nan,...
Name: 1990-04-01 00:00:00, dtype: object
Array    [[179.08, 232.09900000000002, nan], [nan, nan,...
Name: 1990-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 201.299, nan], [nan, nan, nan]]
Name: 1990-07-01 00:00:00, dtype: object
Array    [[179.08, 201.299, nan], [nan, nan, nan]]
Name: 1990-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 275.52299999999997, nan], [nan, nan,...
Name: 1990-10-01 00:00:00, dtype: object
Array    [[179.08, 275.52299999999997, nan], [nan, nan,...
Name: 1990-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 232.44299999999998, nan], [nan, nan,...
Name: 1991-01-01 00:00:00, dtype: object
Array    [[179.08, 232.44299999999998, nan], [nan, nan,...
Name: 1991-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 188.636, nan], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
Array    [[179.08, 188.636, nan], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 179.22299999999998, nan], [nan, nan,...
Name: 1991-07-01 00:00:00, dtype: object
Array    [[179.08, 179.22299999999998, nan], [nan, nan,...
Name: 1991-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 312.415, nan], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
Array    [[179.08, 312.415, nan], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 260.673, nan], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
Array    [[179.08, 260.673, nan], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 258.188, nan], [nan, nan, nan]]
Name: 1992-04-01 00:00:00, dtype: object
Array    [[179.08, 258.188, nan], [nan, nan, nan]]
Name: 1992-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 191.71400000000003, nan], [nan, nan,...
Name: 1992-07-01 00:00:00, dtype: object
Array    [[179.08, 191.71400000000003, nan], [nan, nan,...
Name: 1992-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 280.186, nan], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
Array    [[179.08, 280.186, nan], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 211.908, nan], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
Array    [[179.08, 211.908, nan], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 55.583, nan], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
Array    [[179.08, 55.583, nan], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 49.63, nan], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
Array    [[179.08, 49.63, nan], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 107.31299999999999, nan], [nan, nan,...
Name: 1993-10-01 00:00:00, dtype: object
Array    [[179.08, 107.31299999999999, nan], [nan, nan,...
Name: 1993-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 72.789, nan], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
Array    [[179.08, 72.789, nan], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 191.6375, nan], [nan, nan, nan]]
Name: 1994-07-01 00:00:00, dtype: object
Array    [[179.08, 191.6375, nan], [nan, nan, nan]]
Name: 1994-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 305.0, nan], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
Array    [[179.08, 305.0, nan], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 195.0, nan], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
Array    [[179.08, 195.0, nan], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 193.0, nan], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
Array    [[179.08, 193.0, nan], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 95.0, nan], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
Array    [[179.08, 95.0, nan], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, -77.0, nan], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
Array    [[179.08, -77.0, nan], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, -929.0, nan], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
Array    [[179.08, -929.0, nan], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, -94.0, nan], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
Array    [[179.08, -94.0, nan], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 52.0, nan], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
Array    [[179.08, 52.0, nan], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, -99.0, nan], [nan, nan, nan]]
Name: 1996-10-01 00:00:00, dtype: object
Array    [[179.08, -99.0, nan], [nan, nan, nan]]
Name: 1996-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, -156.0, nan], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
Array    [[179.08, -156.0, nan], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, -38.0, nan], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
Array    [[179.08, -38.0, nan], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 8.0, nan], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
Array    [[179.08, 8.0, nan], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 68.0, nan], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
Array    [[179.08, 68.0, nan], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 79.0, nan], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
Array    [[179.08, 79.0, nan], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 100.0, nan], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
Array    [[179.08, 100.0, nan], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 132.0, nan], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
Array    [[179.08, 132.0, nan], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 150.0, nan], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
Array    [[179.08, 150.0, nan], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 112.0, nan], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
Array    [[179.08, 112.0, nan], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 123.0, nan], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
Array    [[179.08, 123.0, nan], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 86.0, nan], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
Array    [[179.08, 86.0, nan], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 218.0, nan], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
Array    [[179.08, 218.0, nan], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 191.0, nan], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
Array    [[179.08, 191.0, nan], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 147.5, nan], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
Array    [[179.08, 147.5, nan], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, -396.0, nan], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
Array    [[179.08, -396.0, nan], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 14.0, nan], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
Array    [[179.08, 14.0, nan], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 68.0, nan], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
Array    [[179.08, 68.0, nan], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 83.0, nan], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
Array    [[179.08, 83.0, nan], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 48.0, nan], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
Array    [[179.08, 48.0, nan], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 57.0, nan], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
Array    [[179.08, 57.0, nan], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 41.0, nan], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
Array    [[179.08, 41.0, nan], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 18.0, nan], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
Array    [[179.08, 18.0, nan], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 17.0, nan], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
Array    [[179.08, 17.0, nan], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 29.0, nan], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
Array    [[179.08, 29.0, nan], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 40.0, nan], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
Array    [[179.08, 40.0, nan], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 51.0, nan], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
Array    [[179.08, 51.0, nan], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 107.0, nan], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
Array    [[179.08, 107.0, nan], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 98.0, nan], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
Array    [[179.08, 98.0, nan], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 121.0, nan], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
Array    [[179.08, 121.0, nan], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 173.0, nan], [nan, nan, nan]]
Name: 2004-07-01 00:00:00, dtype: object
Array    [[179.08, 173.0, nan], [nan, nan, nan]]

Name: 2004-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 444.0, nan], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
Array    [[179.08, 444.0, nan], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 484.0, nan], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
Array    [[179.08, 484.0, nan], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 472.0, nan], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
Array    [[179.08, 472.0, nan], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 463.0, nan], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
Array    [[179.08, 463.0, nan], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 802.0, nan], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
Array    [[179.08, 802.0, nan], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 631.0, nan], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
Array    [[179.08, 631.0, nan], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 648.5, nan], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
Array    [[179.08, 648.5, nan], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1399.0, nan], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
Array    [[179.08, 1399.0, nan], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1057.0, nan], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
Array    [[179.08, 1057.0, nan], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1160.0, nan], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
Array    [[179.08, 1160.0, nan], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1118.0, nan], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
Array    [[179.08, 1118.0, nan], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 2232.0, nan], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
Array    [[179.08, 2232.0, nan], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1568.0, nan], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
Array    [[179.08, 1568.0, nan], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 1655.0, nan], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
Array    [[179.08, 1655.0, nan], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 3292.0, nan], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
Array    [[179.08, 3292.0, nan], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 3269.0, nan], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
Array    [[179.08, 3269.0, nan], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 2504.0, nan], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
Array    [[179.08, 2504.0, nan], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 2814.0, nan], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
Array    [[179.08, 2814.0, nan], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 3887.0, nan], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
Array    [[179.08, 3887.0, nan], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 4934.0, nan], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
Array    [[179.08, 4934.0, nan], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 4195.0, nan], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
Array    [[179.08, 4195.0, nan], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 4507.0, nan], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
Array    [[179.08, 4507.0, nan], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 5776.0, nan], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
Array    [[179.08, 5776.0, nan], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 8183.0, nan], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
Array    [[179.08, 8183.0, nan], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 8308.0, nan], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
Array    [[179.08, 8308.0, nan], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 9860.0, nan], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
Array    [[179.08, 9860.0, nan], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 9253.0, nan], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
Array    [[179.08, 9253.0, nan], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 18061.0, nan], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
Array    [[179.08, 18061.0, nan], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 16124.0, nan], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
Array    [[179.08, 16124.0, nan], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 12408.0, nan], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
Array    [[179.08, 12408.0, nan], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 11925.0, nan], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
Array    [[179.08, 11925.0, nan], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 18798.0, nan], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
Array    [[179.08, 18798.0, nan], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 14250.0, nan], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
Array    [[179.08, 14250.0, nan], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 10895.0, nan], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
Array    [[179.08, 10895.0, nan], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 11813.0, nan], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
Array    [[179.08, 11813.0, nan], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 19607.0, nan], [nan, nan, nan]]
Name: 2013-10-01 00:00:00, dtype: object
Array    [[179.08, 19607.0, nan], [nan, nan, nan]]
Name: 2013-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 15480.0, nan], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
Array    [[179.08, 15480.0, nan], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 12228.0, nan], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
Array    [[179.08, 12228.0, nan], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 13134.0, nan], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
Array    [[179.08, 13134.0, nan], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 26821.0, nan], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
Array    [[179.08, 26821.0, nan], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 20757.0, nan], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
Array    [[179.08, 20757.0, nan], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 17167.0, nan], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
Array    [[179.08, 17167.0, nan], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 17742.0, nan], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
Array    [[179.08, 17742.0, nan], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 27125.0, nan], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
Array    [[179.08, 27125.0, nan], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 16464.0, nan], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
Array    [[179.08, 16464.0, nan], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
0
1
Array    [[179.08, 12631.0, nan], [nan, nan, nan]]
Name: 2016-04-01 00:00:00, dtype: object
Array    [[179.08, 12631.0, nan], [nan, nan, nan]]
Name: 2016-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 14309.0, nan], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
Array    [[179.08, 14309.0, nan], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 26346.0, nan], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
Array    [[179.08, 26346.0, nan], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 16429.0, nan], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
Array    [[179.08, 16429.0, nan], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
0
1
Array    [[179.08, 14363.0, nan], [nan, nan, nan]]
Name: 2017-07-01 00:00:00, dtype: object
Array    [[179.08, 14363.0, nan], [nan, nan, nan]]
Name: 2017-07-01 00:00:00, dtype: object
0
1
Array    [[179.08, 29019.0, nan], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
Array    [[179.08, 29019.0, nan], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
0
1
Array    [[179.08, 18633.0, nan], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, nan], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 15277.0], [nan, nan, nan]]
Name: 2018-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 15277.0], [nan, nan, nan]]
Name: 2018-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4961.6174], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4961.6174], [nan, nan, nan]]
Name: 1990-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5355.143], [nan, nan, nan]]
Name: 1990-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5355.143], [nan, nan, nan]]
Name: 1990-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3345.4109999999996], [nan, ...
Name: 1990-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3345.4109999999996], [nan, ...
Name: 1990-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4915.5021], [nan, nan, nan]]
Name: 1990-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4915.5021], [nan, nan, nan]]
Name: 1990-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 8089.0081], [nan, nan, nan]]
Name: 1991-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 8089.0081], [nan, nan, nan]]
Name: 1991-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4875.8349], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4875.8349], [nan, nan, nan]]
Name: 1991-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5800.9141], [nan, nan, nan]]
Name: 1991-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5800.9141], [nan, nan, nan]]
Name: 1991-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6516.9499], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6516.9499], [nan, nan, nan]]
Name: 1991-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 7330.0041], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 7330.0041], [nan, nan, nan]]
Name: 1992-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5395.6630000000005], [nan, ...
Name: 1992-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5395.6630000000005], [nan, ...
Name: 1992-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5390.7867], [nan, nan, nan]]
Name: 1992-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5390.7867], [nan, nan, nan]]
Name: 1992-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6952.6192], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6952.6192], [nan, nan, nan]]
Name: 1992-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6208.6838], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6208.6838], [nan, nan, nan]]
Name: 1993-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4624.5468], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4624.5468], [nan, nan, nan]]
Name: 1993-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2903.6751], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2903.6751], [nan, nan, nan]]
Name: 1993-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3407.4788], [nan, nan, nan]]
Name: 1993-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3407.4788], [nan, nan, nan]]
Name: 1993-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3928.155], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3928.155], [nan, nan, nan]]
Name: 1994-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3537.0897999999997], [nan, ...
Name: 1994-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3537.0897999999997], [nan, ...
Name: 1994-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4645.7375], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4645.7375], [nan, nan, nan]]
Name: 1994-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4268.5283], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4268.5283], [nan, nan, nan]]
Name: 1995-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5660.9634], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5660.9634], [nan, nan, nan]]
Name: 1995-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4578.8444], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4578.8444], [nan, nan, nan]]
Name: 1995-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3924.3861], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3924.3861], [nan, nan, nan]]
Name: 1995-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3038.0128], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3038.0128], [nan, nan, nan]]
Name: 1996-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2599.4851], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2599.4851], [nan, nan, nan]]
Name: 1996-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2777.8394], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2777.8394], [nan, nan, nan]]
Name: 1996-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2881.0281], [nan, nan, nan]]
Name: 1996-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2881.0281], [nan, nan, nan]]

Name: 1996-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2354.6657], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2354.6657], [nan, nan, nan]]
Name: 1997-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 1858.8353], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 1858.8353], [nan, nan, nan]]
Name: 1997-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 2726.913], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 2726.913], [nan, nan, nan]]
Name: 1997-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 1704.2529], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 1704.2529], [nan, nan, nan]]
Name: 1997-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3582.445], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3582.445], [nan, nan, nan]]
Name: 1998-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 3752.63], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 3752.63], [nan, nan, nan]]
Name: 1998-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5238.7285], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5238.7285], [nan, nan, nan]]
Name: 1998-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5312.4482], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5312.4482], [nan, nan, nan]]
Name: 1998-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 4543.8452], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 4543.8452], [nan, nan, nan]]
Name: 1999-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6755.3578], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6755.3578], [nan, nan, nan]]
Name: 1999-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 10441.8848], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 10441.8848], [nan, nan, nan]]
Name: 1999-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 16686.6839], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 16686.6839], [nan, nan, nan]]
Name: 1999-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 22093.9765], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 22093.9765], [nan, nan, nan]]
Name: 2000-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 12828.22045], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 12828.22045], [nan, nan, nan]]
Name: 2000-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5136.4417], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5136.4417], [nan, nan, nan]]
Name: 2000-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 7648.1595], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 7648.1595], [nan, nan, nan]]
Name: 2001-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 8148.5205], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 8148.5205], [nan, nan, nan]]
Name: 2001-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5442.8002], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5442.8002], [nan, nan, nan]]
Name: 2001-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 7905.6557], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 7905.6557], [nan, nan, nan]]
Name: 2001-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 8381.1917], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 8381.1917], [nan, nan, nan]]
Name: 2002-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6358.9108], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6358.9108], [nan, nan, nan]]
Name: 2002-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5283.8767], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5283.8767], [nan, nan, nan]]
Name: 2002-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5065.2133], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5065.2133], [nan, nan, nan]]
Name: 2002-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 5325.9908], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 5325.9908], [nan, nan, nan]]
Name: 2003-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 6873.7791], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 6873.7791], [nan, nan, nan]]
Name: 2003-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 7587.5814], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 7587.5814], [nan, nan, nan]]
Name: 2003-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 7662.8533], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 7662.8533], [nan, nan, nan]]
Name: 2003-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 10081.9995], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 10081.9995], [nan, nan, nan]]
Name: 2004-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 12980.9699], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 12980.9699], [nan, nan, nan]]
Name: 2004-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 14596.9468], [nan, nan, nan]]
Name: 2004-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 14596.9468], [nan, nan, nan]]
Name: 2004-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 25895.1829], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 25895.1829], [nan, nan, nan]]
Name: 2004-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 34983.3118], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 34983.3118], [nan, nan, nan]]
Name: 2005-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 31264.5692], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 31264.5692], [nan, nan, nan]]
Name: 2005-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 44423.0302], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 44423.0302], [nan, nan, nan]]
Name: 2005-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 60791.4186], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 60791.4186], [nan, nan, nan]]
Name: 2005-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 53261.0812], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 53261.0812], [nan, nan, nan]]
Name: 2006-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 57344.357], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 57344.357], [nan, nan, nan]]
Name: 2006-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 72981.0556], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 72981.0556], [nan, nan, nan]]
Name: 2006-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 80338.6351], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 80338.6351], [nan, nan, nan]]
Name: 2007-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 106072.5086], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 106072.5086], [nan, nan, nan]]
Name: 2007-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 133876.3273], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 133876.3273], [nan, nan, nan]]
Name: 2007-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 175576.4065], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 175576.4065], [nan, nan, nan]]
Name: 2007-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 126053.4477], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 126053.4477], [nan, nan, nan]]
Name: 2008-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 150656.6487], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 150656.6487], [nan, nan, nan]]
Name: 2008-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 113918.9228], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 113918.9228], [nan, nan, nan]]
Name: 2008-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 76406.5046], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 76406.5046], [nan, nan, nan]]
Name: 2008-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 95300.7781], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 95300.7781], [nan, nan, nan]]
Name: 2009-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 127588.5233], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 127588.5233], [nan, nan, nan]]
Name: 2009-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 164097.529], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 164097.529], [nan, nan, nan]]
Name: 2009-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 189449.2273], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 189449.2273], [nan, nan, nan]]
Name: 2009-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 210034.9088], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 210034.9088], [nan, nan, nan]]
Name: 2010-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 243625.7419], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 243625.7419], [nan, nan, nan]]
Name: 2010-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 267756.3504], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 267756.3504], [nan, nan, nan]]
Name: 2010-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 298047.0797], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 298047.0797], [nan, nan, nan]]
Name: 2010-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 325059.9257], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 325059.9257], [nan, nan, nan]]
Name: 2011-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 302495.0483], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 302495.0483], [nan, nan, nan]]
Name: 2011-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 375706.6911], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 375706.6911], [nan, nan, nan]]
Name: 2011-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 377546.67], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 377546.67], [nan, nan, nan]]
Name: 2011-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 560568.4581], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 560568.4581], [nan, nan, nan]]
Name: 2012-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 547363.344], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 547363.344], [nan, nan, nan]]
Name: 2012-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 626550.3528], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 626550.3528], [nan, nan, nan]]
Name: 2012-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 478490.4999], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 478490.4999], [nan, nan, nan]]
Name: 2012-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 416142.01], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 416142.01], [nan, nan, nan]]
Name: 2013-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 360224.5063], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 360224.5063], [nan, nan, nan]]
Name: 2013-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 434095.0757], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 434095.0757], [nan, nan, nan]]
Name: 2013-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 499850.6402], [nan, nan, nan]]
Name: 2013-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 499850.6402], [nan, nan, nan]]
Name: 2013-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 462636.4207], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 462636.4207], [nan, nan, nan]]
Name: 2014-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 550883.9486], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 550883.9486], [nan, nan, nan]]
Name: 2014-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 591015.7207], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 591015.7207], [nan, nan, nan]]
Name: 2014-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 664153.5018], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 664153.5018], [nan, nan, nan]]
Name: 2014-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 710200.7635], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 710200.7635], [nan, nan, nan]]
Name: 2015-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 723159.45], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 723159.45], [nan, nan, nan]]
Name: 2015-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 639938.7566], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 639938.7566], [nan, nan, nan]]
Name: 2015-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 598970.9306], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 598970.9306], [nan, nan, nan]]
Name: 2015-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 578907.3888], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 578907.3888], [nan, nan, nan]]
Name: 2016-01-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 503721.61100000003], [nan, ...
Name: 2016-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 503721.61100000003], [nan, ...
Name: 2016-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 601439.2699], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 601439.2699], [nan, nan, nan]]
Name: 2016-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 608683.0919], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 608683.0919], [nan, nan, nan]]
Name: 2016-10-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 747867.3829], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 747867.3829], [nan, nan, nan]]
Name: 2017-04-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 767301.05085], [nan, nan, n...
Name: 2017-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 767301.05085], [nan, nan, n...
Name: 2017-07-01 00:00:00, dtype: object
0
2
Array    [[179.08, 18633.0, 859967.7987], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 859967.7987], [nan, nan, nan]]
Name: 2017-10-01 00:00:00, dtype: object
0

2
Array    [[179.08, 18633.0, 829383.854], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [nan, nan, nan]]
Name: 2018-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.2887, nan, ...
Name: 1990-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.2887, nan, ...
Name: 1990-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.49256666666...
Name: 1990-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.49256666666...
Name: 1990-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.2857, nan, ...
Name: 1990-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.2857, nan, ...
Name: 1990-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.31546666666...
Name: 1990-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.31546666666...
Name: 1990-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.15176666666...
Name: 1991-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.15176666666...
Name: 1991-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.70833333333...
Name: 1991-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.70833333333...
Name: 1991-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.77086666666...
Name: 1991-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.77086666666...
Name: 1991-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.8899, nan, ...
Name: 1991-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.8899, nan, ...
Name: 1991-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.26786666666...
Name: 1992-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.26786666666...
Name: 1992-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.9985, nan, ...
Name: 1992-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.9985, nan, ...
Name: 1992-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.64136666666...
Name: 1992-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.64136666666...
Name: 1992-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.02083333333...
Name: 1992-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.02083333333...
Name: 1992-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.9524, nan, ...
Name: 1993-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.9524, nan, ...
Name: 1993-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.75446666666...
Name: 1993-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.75446666666...
Name: 1993-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.9241, nan, ...
Name: 1993-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.9241, nan, ...
Name: 1993-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.08926666666...
Name: 1993-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.08926666666...
Name: 1993-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.22023333333...
Name: 1994-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.22023333333...
Name: 1994-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.0208, nan, ...
Name: 1994-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.0208, nan, ...
Name: 1994-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.23286666666...
Name: 1994-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.23286666666...
Name: 1994-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.41889999999...
Name: 1994-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.41889999999...
Name: 1994-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.37053333333...
Name: 1995-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.37053333333...
Name: 1995-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.50300000000...
Name: 1995-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.50300000000...
Name: 1995-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.49106666666...
Name: 1995-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.49106666666...
Name: 1995-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.26563333333...
Name: 1995-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.26563333333...
Name: 1995-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.94863333333...
Name: 1996-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.94863333333...
Name: 1996-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.85116666666...
Name: 1996-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.85116666666...
Name: 1996-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.81473333333...
Name: 1996-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.81473333333...
Name: 1996-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.8095, nan, ...
Name: 1996-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.8095, nan, ...
Name: 1996-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.60866666666...
Name: 1997-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.60866666666...
Name: 1997-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.56993333333...
Name: 1997-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.56993333333...
Name: 1997-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.72546666666...
Name: 1997-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.72546666666...
Name: 1997-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.57033333333...
Name: 1997-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.57033333333...
Name: 1997-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.82663333333...
Name: 1998-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.82663333333...
Name: 1998-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [0.98439999999...
Name: 1998-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [0.98439999999...
Name: 1998-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.23733333333...
Name: 1998-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.23733333333...
Name: 1998-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.30953333333...
Name: 1998-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.30953333333...
Name: 1998-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.3326, nan, ...
Name: 1999-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.3326, nan, ...
Name: 1999-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.62353333333...
Name: 1999-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.62353333333...
Name: 1999-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.19346666666...
Name: 1999-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.19346666666...
Name: 1999-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [3.343, nan, n...
Name: 1999-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [3.343, nan, n...
Name: 1999-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [4.21653333333...
Name: 2000-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [4.21653333333...
Name: 2000-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [3.72396666666...
Name: 2000-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [3.72396666666...
Name: 2000-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [3.27383333333...
Name: 2000-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [3.27383333333...
Name: 2000-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.21279999999...
Name: 2000-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.21279999999...
Name: 2000-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.47486666666...
Name: 2001-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.47486666666...
Name: 2001-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.63546666666...
Name: 2001-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.63546666666...
Name: 2001-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.25833333333...
Name: 2001-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.25833333333...
Name: 2001-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.44666666666...
Name: 2001-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.44666666666...
Name: 2001-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.6688, nan, ...
Name: 2002-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.6688, nan, ...
Name: 2002-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.55453333333...
Name: 2002-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.55453333333...
Name: 2002-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.05976666666...
Name: 2002-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.05976666666...
Name: 2002-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.09286666666...
Name: 2002-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.09286666666...
Name: 2002-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.03593333333...
Name: 2003-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.03593333333...
Name: 2003-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.21973333333...
Name: 2003-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.21973333333...
Name: 2003-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.53356666666...
Name: 2003-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.53356666666...
Name: 2003-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.55166666666...
Name: 2003-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.55166666666...
Name: 2003-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [1.75046666666...
Name: 2004-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [1.75046666666...
Name: 2004-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.05666666666...
Name: 2004-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.05666666666...
Name: 2004-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [2.51383333333...
Name: 2004-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [2.51383333333...
Name: 2004-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [4.3774, nan, ...
Name: 2004-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [4.3774, nan, ...
Name: 2004-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [5.95146666666...
Name: 2005-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [5.95146666666...
Name: 2005-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [5.3633, nan, ...
Name: 2005-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [5.3633, nan, ...
Name: 2005-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [6.8167, nan, ...
Name: 2005-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [6.8167, nan, ...
Name: 2005-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [9.39523333333...
Name: 2005-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [9.39523333333...
Name: 2005-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [9.8438, nan, ...
Name: 2006-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [9.8438, nan, ...
Name: 2006-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [8.92523333333...
Name: 2006-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [8.92523333333...
Name: 2006-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [10.1328666666...
Name: 2006-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [10.1328666666...
Name: 2006-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [12.2657333333...
Name: 2006-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [12.2657333333...
Name: 2006-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [12.5357, nan,...
Name: 2007-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [12.5357, nan,...
Name: 2007-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [16.3347999999...
Name: 2007-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [16.3347999999...
Name: 2007-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [20.1767, nan,...
Name: 2007-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [20.1767, nan,...
Name: 2007-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [27.1547333333...
Name: 2007-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [27.1547333333...
Name: 2007-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [19.2323666666...
Name: 2008-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [19.2323666666...
Name: 2008-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [25.2447666666...
Name: 2008-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [25.2447666666...
Name: 2008-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [21.0542666666...
Name: 2008-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [21.0542666666...
Name: 2008-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [13.6004999999...
Name: 2008-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [13.6004999999...
Name: 2008-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [13.5504666666...
Name: 2009-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [13.5504666666...
Name: 2009-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [19.2414, nan,...
Name: 2009-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [19.2414, nan,...
Name: 2009-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [24.6166666666...
Name: 2009-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [24.6166666666...
Name: 2009-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [28.5306000000...
Name: 2009-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [28.5306000000...
Name: 2009-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [30.0801333333...
Name: 2010-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [30.0801333333...
Name: 2010-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [36.6428666666...
Name: 2010-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [36.6428666666...
Name: 2010-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [37.3381, nan,...
Name: 2010-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [37.3381, nan,...
Name: 2010-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [44.5090333333...
Name: 2010-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [44.5090333333...
Name: 2010-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [49.5732333333...
Name: 2011-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [49.5732333333...
Name: 2011-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [49.2204999999...
Name: 2011-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [49.2204999999...
Name: 2011-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [55.0776333333...
Name: 2011-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [55.0776333333...
Name: 2011-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [56.7609333333...
Name: 2011-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [56.7609333333...
Name: 2011-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [76.1176, nan,...
Name: 2012-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [76.1176, nan,...
Name: 2012-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [83.1290666666...
Name: 2012-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [83.1290666666...
Name: 2012-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [92.5288, nan,...
Name: 2012-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [92.5288, nan,...
Name: 2012-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [81.5606000000...
Name: 2012-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [81.5606000000...
Name: 2012-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [63.7880666666...
Name: 2013-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [63.7880666666...
Name: 2013-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [61.3831000000...
Name: 2013-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [61.3831000000...
Name: 2013-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [67.4521666666...
Name: 2013-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [67.4521666666...
Name: 2013-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [78.0853333333...
Name: 2013-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [78.0853333333...
Name: 2013-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [74.4561666666...
Name: 2014-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [74.4561666666...
Name: 2014-01-01 00:00:00, dtype: object
1
0

Name: 2016-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [96.3999999999...
Name: 2016-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [96.3999999999...
Name: 2016-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [107.786666666...
Name: 2016-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [107.786666666...
Name: 2016-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [113.293333333...
Name: 2016-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [113.293333333...
Name: 2016-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [134.0, nan, n...
Name: 2017-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [134.0, nan, n...
Name: 2017-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [146.809999999...
Name: 2017-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [146.809999999...
Name: 2017-04-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [155.616666666...
Name: 2017-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [155.616666666...
Name: 2017-07-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [170.04, nan, ...
Name: 2017-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [170.04, nan, ...
Name: 2017-10-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [171.11, nan, ...
Name: 2018-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [171.11, nan, ...
Name: 2018-01-01 00:00:00, dtype: object
1
0
Array    [[179.08, 18633.0, 829383.854], [179.08, nan, ...
Name: 2018-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, nan, ...
Name: 2018-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 214.5...
Name: 2018-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 214.5...
Name: 2018-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 243.4...
Name: 1990-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 243.4...
Name: 1990-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 232.0...
Name: 1990-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 232.0...
Name: 1990-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 201.2...
Name: 1990-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 201.2...
Name: 1990-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 275.5...
Name: 1990-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 275.5...
Name: 1990-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 232.4...
Name: 1991-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 232.4...
Name: 1991-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 188.6...
Name: 1991-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 188.6...
Name: 1991-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 179.2...
Name: 1991-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 179.2...
Name: 1991-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 312.4...
Name: 1991-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 312.4...
Name: 1991-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 260.6...
Name: 1992-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 260.6...
Name: 1992-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 258.1...
Name: 1992-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 258.1...
Name: 1992-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.7...
Name: 1992-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.7...
Name: 1992-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 280.1...
Name: 1992-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 280.1...
Name: 1992-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 211.9...
Name: 1993-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 211.9...
Name: 1993-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 55.58...
Name: 1993-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 55.58...
Name: 1993-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 49.63...
Name: 1993-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 49.63...
Name: 1993-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 107.3...
Name: 1993-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 107.3...
Name: 1993-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 72.78...
Name: 1994-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 72.78...
Name: 1994-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.6...
Name: 1994-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.6...
Name: 1994-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 305.0...
Name: 1994-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 305.0...
Name: 1994-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 195.0...
Name: 1995-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 195.0...
Name: 1995-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 193.0...
Name: 1995-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 193.0...
Name: 1995-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 95.0,...
Name: 1995-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 95.0,...
Name: 1995-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -77.0...
Name: 1995-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -77.0...
Name: 1995-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -929....
Name: 1996-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -929....
Name: 1996-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -94.0...
Name: 1996-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -94.0...
Name: 1996-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 52.0,...
Name: 1996-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 52.0,...
Name: 1996-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -99.0...
Name: 1996-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -99.0...
Name: 1996-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -156....
Name: 1997-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -156....
Name: 1997-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -38.0...
Name: 1997-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -38.0...
Name: 1997-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 8.0, ...
Name: 1997-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 8.0, ...
Name: 1997-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 68.0,...
Name: 1997-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 68.0,...
Name: 1997-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 79.0,...
Name: 1998-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 79.0,...
Name: 1998-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 100.0...
Name: 1998-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 100.0...
Name: 1998-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 132.0...
Name: 1998-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 132.0...
Name: 1998-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 150.0...
Name: 1998-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 150.0...
Name: 1998-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 112.0...
Name: 1999-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 112.0...
Name: 1999-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 123.0...
Name: 1999-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 123.0...
Name: 1999-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 86.0,...
Name: 1999-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 86.0,...
Name: 1999-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 218.0...
Name: 1999-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 218.0...
Name: 1999-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.0...
Name: 2000-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 191.0...
Name: 2000-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 147.5...
Name: 2000-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 147.5...
Name: 2000-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, -396....
Name: 2000-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, -396....
Name: 2000-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 14.0,...
Name: 2001-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 14.0,...
Name: 2001-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 68.0,...
Name: 2001-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 68.0,...
Name: 2001-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 83.0,...
Name: 2001-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 83.0,...
Name: 2001-07-01 00:00:00, dtype: object
1

1
Array    [[179.08, 18633.0, 829383.854], [179.08, 48.0,...
Name: 2001-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 48.0,...
Name: 2001-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 57.0,...
Name: 2002-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 57.0,...
Name: 2002-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 41.0,...
Name: 2002-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 41.0,...
Name: 2002-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 18.0,...
Name: 2002-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18.0,...
Name: 2002-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 17.0,...
Name: 2002-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 17.0,...
Name: 2002-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 29.0,...
Name: 2003-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 29.0,...
Name: 2003-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 40.0,...
Name: 2003-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 40.0,...
Name: 2003-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 51.0,...
Name: 2003-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 51.0,...
Name: 2003-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 107.0...
Name: 2003-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 107.0...
Name: 2003-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 98.0,...
Name: 2004-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 98.0,...
Name: 2004-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 121.0...
Name: 2004-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 121.0...
Name: 2004-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 173.0...
Name: 2004-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 173.0...
Name: 2004-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 444.0...
Name: 2004-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 444.0...
Name: 2004-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 484.0...
Name: 2005-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 484.0...
Name: 2005-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 472.0...
Name: 2005-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 472.0...
Name: 2005-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 463.0...
Name: 2005-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 463.0...
Name: 2005-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 802.0...
Name: 2005-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 802.0...
Name: 2005-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 631.0...
Name: 2006-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 631.0...
Name: 2006-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 648.5...
Name: 2006-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 648.5...
Name: 2006-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1399....
Name: 2006-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1399....
Name: 2006-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1057....
Name: 2007-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1057....
Name: 2007-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1160....
Name: 2007-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1160....
Name: 2007-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1118....
Name: 2007-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1118....
Name: 2007-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 2232....
Name: 2007-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 2232....
Name: 2007-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1568....
Name: 2008-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1568....
Name: 2008-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 1655....
Name: 2008-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 1655....
Name: 2008-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 3292....
Name: 2008-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 3292....
Name: 2008-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 3269....
Name: 2008-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 3269....
Name: 2008-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 2504....
Name: 2009-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 2504....
Name: 2009-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 2814....
Name: 2009-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 2814....
Name: 2009-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 3887....
Name: 2009-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 3887....
Name: 2009-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 4934....
Name: 2009-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 4934....
Name: 2009-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 4195....
Name: 2010-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 4195....
Name: 2010-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 4507....
Name: 2010-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 4507....
Name: 2010-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 5776....
Name: 2010-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 5776....
Name: 2010-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 8183....
Name: 2010-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 8183....
Name: 2010-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 8308....
Name: 2011-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 8308....
Name: 2011-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 9860....
Name: 2011-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 9860....
Name: 2011-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 9253....
Name: 2011-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 9253....
Name: 2011-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 18061...
Name: 2011-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18061...
Name: 2011-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 16124...
Name: 2012-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 16124...
Name: 2012-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 12408...
Name: 2012-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 12408...
Name: 2012-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 11925...
Name: 2012-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 11925...
Name: 2012-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 18798...
Name: 2012-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18798...
Name: 2012-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 14250...
Name: 2013-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 14250...
Name: 2013-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 10895...
Name: 2013-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 10895...
Name: 2013-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 11813...
Name: 2013-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 11813...
Name: 2013-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 19607...
Name: 2013-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 19607...
Name: 2013-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 15480...
Name: 2014-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 15480...
Name: 2014-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 12228...
Name: 2014-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 12228...
Name: 2014-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 13134...
Name: 2014-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 13134...
Name: 2014-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 26821...
Name: 2014-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 26821...
Name: 2014-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 20757...
Name: 2015-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 20757...
Name: 2015-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 17167...
Name: 2015-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 17167...
Name: 2015-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 17742...
Name: 2015-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 17742...
Name: 2015-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 27125...
Name: 2015-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 27125...
Name: 2015-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 16464...
Name: 2016-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 16464...
Name: 2016-01-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 12631...
Name: 2016-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 12631...
Name: 2016-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 14309...
Name: 2016-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 14309...
Name: 2016-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 26346...
Name: 2016-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 26346...
Name: 2016-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 16429...
Name: 2017-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 16429...
Name: 2017-04-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 14363...
Name: 2017-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 14363...
Name: 2017-07-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 29019...
Name: 2017-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 29019...
Name: 2017-10-01 00:00:00, dtype: object
1
1
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1990-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1991-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1992-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1993-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1994-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1995-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...

Name: 1996-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1996-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1997-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1998-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 1999-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2000-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2001-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2002-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2003-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2004-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2005-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2006-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2007-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2008-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2009-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2010-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2011-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2012-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2013-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2014-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2015-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-01-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2016-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-04-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-04-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-07-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-07-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-10-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2017-10-01 00:00:00, dtype: object
1
2
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-01-01 00:00:00, dtype: object
Array    [[179.08, 18633.0, 829383.854], [179.08, 18633...
Name: 2018-01-01 00:00:00, dtype: object

In [ ]:
print(dataDict)